################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/HelloWorld/.vs/HelloWorld/v17/Browse.VC.opendb
/HelloWorld/.vs/HelloWorld/FileContentIndex/c84ffee6-bf8f-445e-86da-a3f6e2c3fded.vsidx
/HelloWorld/.vs/HelloWorld/v17/.suo
/HelloWorld/.vs/HelloWorld/v17/Browse.VC.db
/HelloWorld/.vs/HelloWorld/v17/Browse.VC.db-wal
/HelloWorld/.vs/HelloWorld/v17/DocumentLayout.json
